html {
    box-sizing: border-box;
}

:root {
    /* ----- Colors -----*/
    --cinza: rgba(255, 255, 255, 0.719);
    --purple-snow: #c86af1;
    --roxo-mais-claro: #78229d;
    --roxo-claro: #461959;
    --roxo-escuro: #2A0A44;
    --roxo-mais-escuro: #190a44ad;

    /* ----- Transitions -----*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: -8px;
    margin: -8.4px;
    background-color: black;
    box-shadow: 1px 1px 4px black;
    height: 3.5em;
    justify-content: space-between;
}

/* ----- Navbar ----- */

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 30px;
    background-color: var(--cinza);
    box-shadow: 1px 1px 4px white;
    padding: 0.5%;
}

.navbar a:hover {
    background-color: black;
    color: var(--cinza);
    transition: var(--tran-02);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
}

input {
    flex: 0.5;
    border-radius: 30px;
    background-color: var(--cinza);
    box-shadow: 1px 1px 4px white;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
}

input:focus {
    padding: relative;
    border: double 2px transparent;
    border-radius: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.719), rgba(255, 255, 255, 0.719)), 
                    linear-gradient(to right top, #190a44ad, #2A0A44, #461959, #78229d, #c86af1);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: var(--tran-05);
}

@keyframes animate {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 250px;
    }
}


@media all and (max-width: 600px) {  
    
    .navbar {  
      flex-wrap: wrap;  
    }

    input {
        flex-basis: 50%;
    }

}

